[submodule "django/hot"]
	path = django/hot
	url = git@github.com:samuelcolvin/django-hot.git
[submodule "django_example/hot"]
	path = django_example/hot
	url = git@github.com:samuelcolvin/django-hot.git
[submodule "example_django/hot"]
	path = example_django/hot
	url = git@github.com:samuelcolvin/django-hot.git
